.tasks {
  margin: auto;
  max-width: 1200px;
  min-width: 500px;
  font-family: "Comfortaa", cursive;

  mat-card-header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

    mat-card-title {
      font-size: 30px;
    }
  }

  form {
    align-items: center;
    display: flex;
    justify-content: space-around;

    .tasks-form-field {
      margin-bottom: -1.25em;
    }
  }

  mat-divider {
    margin: 2rem 0;
  }
}
