<div class="tasks">
  <mat-card>
    <mat-card-header> <mat-card-title>Tasks</mat-card-title></mat-card-header>
    <mat-card-content>
      <div class="add-contain">
        <input
          placeholder="Ex. water plants"
          id="name"
          type="text"
          [formControl]="newTask"
          [attr.disabled]="(isAttemptingAdd$ | async) ? '' : null"
        />
        <button
          mat-raised-button
          color="primary"
          (click)="handleAddButtonClick()"
          [attr.disabled]="(isAttemptingAdd$ | async) ? '' : null"
        >
          <ng-container *ngIf="isAttemptingAdd$ | async; else elseBlock"
            ><mat-spinner color="accent" [diameter]="20"></mat-spinner
          ></ng-container>
          <ng-template #elseBlock>add</ng-template>
        </button>
      </div>

      <mat-divider></mat-divider>

      <app-tasks-container
        [allTasks$]="allTasks$"
        (deleteEvent)="deleteTask($event)"
      ></app-tasks-container>
    </mat-card-content>
  </mat-card>
</div>
