<div class="tasks">
  <mat-card>
    <mat-card-header> <mat-card-title>Tasks</mat-card-title></mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="tasks-form-field">
          <mat-label>Add task here</mat-label>
          <input matInput type="text" placeholder="Ex. water plants" value="" />
        </mat-form-field>
        <button mat-raised-button color="primary">Primary</button>
      </form>

      <mat-divider></mat-divider>

      <app-tasks-container></app-tasks-container>
    </mat-card-content>
  </mat-card>
</div>
