@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
  width: 100%;
}

app-root {
  display: flex;
}
